- Github link:https://github.com/mikebranc/sql-spotify-project-lazy-lion-fest 
- Presentation link: https://www.loom.com/share/ea9dbd3d15114219aa4b9fa07c69a97d

# Data Collection Python

## Artists
These are the artists preselected for this music festival. We will collect data for all of them to determine the best candidate for each stage.

### Rage Stage (rap stage)
- Lil uzi vert
- Chance the Rapper
- Trippie Redd
- YBN Cordae
- Kanye West

### Unwind (acoustic/soft rock stage)
- Jack Johnson
- John Mayer
- The Head and the Heart
- Khrubangbin
- Rex Orange County

### The Haus (dance stage)
- Ricky Retro
- Flume
- Louis the Child
- Hippie Sabatoge
- Fisher

### Hick Stage (country stage)
- Jake Owen
- Kenny Chesney
- Thomas rhett
- Luke Bryan
- Jon Pardi

### Mane Stage (most popular)
- Justin Beiber
- Ed Sheeran
- Taylor Swift
- Lorde
- Frank Ocean

In [ ]:
import pandas as pd
import requests
from sqlalchemy import create_engine
import json
import time

## Generate Authorization Token
Link for access token used for every endpoint : https://developer.spotify.com/console/get-search-item/

*tokens expire every hour

In [54]:
#enter access token 
token = "BQA_u73WMo7CzN-LcLDIP_AiAQwvck8ZoiaIYnu78iNTG3l8UjoukLDpvxUBu3rD90fkJJu7K7Gga54IFEJVAlxQgR-2nKhQN0mOep3d2BiG-5z4lfcRAm7xuhVsBwdBfGYjMq80uwTs2AR9ICAYl91bNTbkGJ3GNHf_q6_T8gI15_MQQUFO6CqC6u73D4bxv_z4aQKtk2ocDhG7OdZPhkng5Cp2n69ltq-ufzjjIBqdQSDrvjqCl_S7CL26lZRBYdzUt2SU5GKcnXU"

## Populate the Artist Table

In [92]:
def get_artist(token,artist):
    """
    The following function, takes advantage of Spotify's search endpoint to return an artist's ID
    based off of their name. 
    Parameters
    -----------
    Token- temporary authorization token generated by spotify
    artist - name of the desired artist to get info for
    -----------
    Link for access token: https://developer.spotify.com/console/get-search-item/
    """
    artist_spotify_url = "https://api.spotify.com/v1/search"
    api_token = token #must get token from spotify to access data
    artist_headers = {"Authorization" : "Bearer %s"%api_token, "Content-Type": "application/json"} 
    artist_params = {"type": "artist", "q":artist}
    artist_request = requests.get(artist_spotify_url, params=artist_params, headers=artist_headers)
    loaded_data = json.loads(artist_request.text) #get raw data in json format
    follower_count = [] #store follower counts for search results
    artist_dict = {}# store follower count as key and artist ID and name's as value 
    for i in range(len(json.loads(artist_request.text)["artists"]["items"])):
        ID = (loaded_data["artists"]["items"][i]["id"])#artist's unique id
        name = (loaded_data["artists"]["items"][i]["name"])
        followers = (loaded_data["artists"]["items"][i]["followers"]['total'])
        popularity = (loaded_data["artists"]["items"][i]["popularity"])
        artist_dict[followers] = [ID,name,popularity,followers]
        follower_count.append(followers)
        true_artist = max(follower_count)
        true_artist_dict = artist_dict[true_artist]
        return true_artist_dict

In [93]:
#Populate artist_table using search
artists = ["Lil uzi vert", "Chance the Rapper", "Trippie Redd", "YBN Cordae", "Kanye West", "Jack Johnson", "John Mayer",
           "The Head and the Heart", "Khrubangbin", "Rex Orange County", "Ricky Retro", "Flume", "Louis the Child", 
           "Hippie Sabatoge", "Fisher", "Jake Owen", "Kenny Chesney", "Thomas rhett", "Luke Bryan", "Jon Pardi",
           "Justin Beiber", "Ed Sheeran", "Taylor Swift", "Lorde", "Frank Ocean"
          ]
#create dictionary for dataframe
artists_dict = {
    "artist_id" : [],
    "name" : [],
    "popularity" : [],
    "followers" : []
    }
#iterate through artists to populate dictionary with appropriate data
for x in artists:
    artists_dict["name"].append(x) #pass in name from list
    artists_dict["artist_id"].append(get_artist(token,x)[0])
    artists_dict["popularity"].append(get_artist(token,x)[2])
    artists_dict["followers"].append(get_artist(token,x)[3])

In [94]:
#assign artists to a dataframe
artists = pd.DataFrame(artists_dict)

In [98]:
#add to csv
artists.to_csv("artist.csv", index=False)

## Populate the Album Table

In [2]:
def add_albums(album_data,passed_dict):
    """
    This is a helper function for the add_all_albums function. It takes in a request loaded with json and appends it to a dictionary
    passed in. There is no output. 
    
    parameters
    --------
    album_data: json loaded request with album data using the spotify api
    passed_dict: the dictionary this information is being appended to
    """
    for i in range(len(album_data['items'])):
        name = album_data['items'][i]['name']
        passed_dict['name'].append(name)
        ID = album_data['items'][i]['id']
        passed_dict['album_id'].append(ID)
        total_tracks = album_data['items'][i]['total_tracks']
        passed_dict['total_tracks'].append(total_tracks)
        release_date = album_data['items'][i]['release_date']
        passed_dict['release_date'].append(release_date)
        album_type = album_data['items'][i]['album_type']
        passed_dict['album_type'].append(album_type)

In [3]:
def add_all_albums (artist_id, album_type):
    """
    This function takes in an artist id and album type and returns album data for that artist using the spotify API.
    The datframe will output album ID, number of tracks, duration, release date and album type (single or album).
    For more info about code behind output, see add_albums helper function. Because the Spotify only returns 20 results
    by default, the function has a loop to override this limit and get all of the albums an artist has.
    
    parameters
    --------
    artist_id: spotify artist id 
    album_type: either single or album 
    """
    album_spotify_url = "https://api.spotify.com/v1/artists/{}/albums".format(artist_id)#spotify endpoint to get an artist's albums
    api_token = token #must get token from spotify to access data
    headers = {"Authorization" : "Bearer %s"%api_token, "Content-Type": "application/json"} 
    offset = 0 #indicates starting point for album's, add 20 every iteration until all albums are collected
    params = {"include_groups":  album_type, "offset": str(offset)} #keep offset dynamic to get more than 20 albums
    request_og = requests.get(album_spotify_url, headers=headers, params=params)
    loaded_data_og = json.loads(request_og.text) #get raw data in json format
    #create dictionary for dataframe
    albums_dict ={
        "album_id":[],
        "name":[],
        "total_tracks":[],
        "release_date":[],
        "album_type":[]
    }
    add_albums(loaded_data_og, albums_dict) # propogate the dict with the first 20 entries
    #If an artist has more than 20 albums, get them
    while len(albums_dict["album_id"]) < loaded_data_og['total']:
         #repeat request using updated starting point
        offset +=20
        params["offset"] = str(offset)
        request = requests.get(album_spotify_url, headers=headers, params=params)
        loaded_data = json.loads(request.text)
        add_albums(loaded_data, albums_dict)
    output = pd.DataFrame(albums_dict) #read dict to a dataframe
    output["artist_id"] = artist_id#add artist id as foreign key to artist table
    return output

In [40]:
artist_ids = [x for x in artists['id']]#get artist id from artist table into a list
album_df = pd.DataFrame()# create an empty dataframe to store albums
for x in artist_ids:
    #iterate through each artist and add all of their albums , first finding singles, then finding albums
    album1_df = add_all_albums(x, "single")
    album_df = album_df.append(album1_df)
    album2_df = add_all_albums(x,"album")
    album_df = album_df.append(album2_df)

*** In the above table, I chose only to show singles and albums, not tracks featured on, however, that data could easily be collected if one desired (ex. "appears_on") See https://developer.spotify.com/documentation/web-api/reference/artists/get-artists-albums/ for more info

In [46]:
def get_album_popularity(album_id):
    """
    Because the album object returned in the above endpoint isn't the full object, we must pass each album in the 
    database into the "get album" endpoint in order to get popularity for an album. 
    
    Parameters
    -------
    album_id-spotify unique identifier for each album
    """
    album_spotify_url = "https://api.spotify.com/v1/albums/{}".format(album_id)
    api_token = token #must get token from spotify to access data
    headers = {"Authorization" : "Bearer %s"%api_token, "Content-Type": "application/json"} 
    request = requests.get(album_spotify_url, headers=headers)
    loaded_test_data = json.loads(request.text) #get raw data in json format
    return loaded_test_data['popularity']

In [ ]:
album_ids = [album_id for album_id in album_df["album_id"] ] #get album ids for each record in the album table into a list
#add popularity to each id
for album_id in album_ids:
    album_df.loc[album_df.album_id == album_id, 'popularity'] = get_album_popularity(album_id)

In [99]:
album_df.to_csv("album.csv", index = False) #export to csv

## Populate the Track Table

In [79]:
def add_tracks(track_data,passed_dict):
    """
    This is a helper function for the add_all_tracks function. It takes in a request loaded with json
    and appends it to a dictionary passed in. There is no output. This is very similar to the add_albums 
    helper function.
    
    parameters
    --------
    track_data: json loaded request with track data using the spotify api
    passed_dict: the dictionary this information is being appended to
    """
    for i in range(len(track_data['items'])):
        track_id = track_data['items'][i]['id']
        passed_dict['track_id'].append(track_id)
        track_name = track_data['items'][i]['name']
        passed_dict['name'].append(track_name)
        duration_ms = track_data['items'][i]['duration_ms']
        passed_dict['duration_ms'].append(duration_ms)
        explicit = track_data['items'][i]['explicit']
        passed_dict['explicit'].append(explicit)

In [80]:
def add_all_tracks (album_id):
    """
    This function takes in an album id and returns all of its tracks. Additionally, because only 50 items are returned
    by default, this funtion has a while loop to get all tracks in an album. 
    """
    album_tracks_spotify_url = "https://api.spotify.com/v1/albums/{}/tracks".format(album_id)
    api_token = token #must get token from spotify to access data
    headers = {"Authorization" : "Bearer %s"%api_token, "Content-Type": "application/json"} 
    offset = 0
    params = {"limit": "50", "offset":str(offset)}
    request = requests.get(album_tracks_spotify_url, headers=headers, params = params)
    loaded_data_og = json.loads(request.text) #get raw data in json format
    track_dict = {
        "track_id": [],
        "name": [],
        "duration_ms": [],
        "explicit": []  
    }
    add_tracks(loaded_data_og, track_dict) # propogate the dict with the first 50 entries, have to do this to access "total" which is the number of songs returned
    #If an artist has more than 50 tracks in an album, get them
    while len(track_dict["track_id"]) < loaded_data_og['total']:
        offset +=50
        params["offset"] = str(offset)
        request = requests.get(album_tracks_spotify_url, headers=headers, params=params)
        loaded_data = json.loads(request.text)
        add_tracks(loaded_data, track_dict)
    output = pd.DataFrame(track_dict) #add tracks to a dataframe
    output["album_id"] = album_id #assign album_ids for each track as a foreign key
    return output

In [82]:
def make_track_table(album_ids):
    """
    This function simply takes the add_all tracks function and makes sure requests are spread out properly. It does
    so by making a maximum of 400 requests and then waiting 100 seconds to make another one. 
    
    """
    track_df = pd.DataFrame()
    counter = len(album_ids)# make counter length of id list
    increment = 400 #increment number of requests by this
    lower = 0 #set the lower bound to 0
    upper = increment
    while counter > 0:
        for x in album_ids[lower:upper]:
            track1_df = add_all_tracks(x)
            track_df = track_df.append(track1_df)
        lower += increment #add the increment to the lower bound
        counter -=increment # decrement the counter
        upper = lower + min(increment, counter)#set upper to either the increment or the counter value if it's less than the increment to prevent index out of range
        time.sleep(100)
    return track_df

In [83]:
album_ids = [x for x in album_df['album_id']] # get all album ids in the album table
track_df = make_track_table(album_ids)# propogate the track table with tracks

In [34]:
def get_tracks_popularity(track_ids,df):
    """
    Accepts a list of track_ids and a dataframe and then adds the popularity to those tracks. 
    Max number of tracks it can take is 50 tracks. This must be used because the "get an album's tracks"
    endpoint used in the add_all_tracks function only returns a limited track object, meaning popularity
    is excluded.
    
    """
    track_ids_urls = ",".join(track_ids)
    track_spotify_url = "https://api.spotify.com/v1/tracks?ids={}".format(track_ids_urls)
    api_token = token #must get token from spotify to access data
    headers = {"Authorization" : "Bearer %s"%api_token, "Content-Type": "application/json"} 
    request = requests.get(track_spotify_url, headers=headers)
    loaded_test_data = json.loads(request.text) #get raw data in json format
    for num, track_id in enumerate(track_ids):
        df.loc[df.track_id == track_id, 'popularity'] = loaded_test_data['tracks'][num]['popularity']

In [35]:
def add_popularity_to_track(df,outer_lower, outer_upper):
    """
    takes the get_tracks_popularity function above and ensures that requests are properly created.
    Because only 50 albums can be passed in at once, the function breaks down a list of album_ids passed
    through into groups of 50 and runs them until the upper bound is reached.
    
    parameters
    ------
    df-dataframe to be iterated through, assumes dataframe has a "track_id" column with track id's
    outer_lower-lower bound of the dataframe index this function should iterate through is
    outer_upper-upper bound of the dataframe index this function should iterate through
    """
    inner_counter = outer_upper# make counter length of id list
    inner_increment = 50 #increment number of requests by this
    inner_lower = outer_lower #set the lower bound to 0
    inner_upper = inner_increment
    while inner_counter >= outer_lower:
        current_tracks = [x for x in df["track_id"][inner_lower:inner_upper]]
        get_tracks_popularity(current_tracks,df)
        inner_lower += inner_increment #add the increment to the lower bound
        inner_counter -=inner_increment # decrement the counter
        inner_upper = inner_lower + min(inner_increment, inner_counter)#set upper to either the increment or the counter value if it's less than the increment to prevent index out of range

In [36]:
def populate_track_table_popularity(df):
    """
    takes a dataframe and applies the add_popularity_to_track function above and properly 
    spaces out requests, making 500 requests and then resting 100 seconds. 
    
    parametrs
    ----------
    df-dataframe to be iterated through (assumes track_id is field)
    
    """
    outer_counter = len(df['track_id'])
    outer_increment = 500
    outer_lower = 0
    outer_upper = outer_increment
    while outer_counter > 0:
        add_popularity_to_track(df,outer_lower,outer_upper)
        outer_lower += outer_increment #add the increment to the lower bound
        outer_counter -= outer_increment # decrement the counter
        outer_upper = outer_lower + min(outer_increment, outer_counter)
        time.sleep(100)

In [254]:
populate_track_table_popularity(track_df)#get popularity

In [37]:
def get_tracks_audio_features(track_ids,df):
    """
    Accepts a list of track_ids and a dataframe and then adds the audio features to those tracks. 
    audio features added are tempo, energy, acousticness and danceability.
    
    parametrs
    ----------
    track_ids-a list of tracks to get audio features for
    df-dataframe to append these features to (assumes track_id is a field)
    """
    track_ids_urls = ",".join(track_ids) #reformat to be accepted by the url
    track_audio_features_spotify_url = "https://api.spotify.com/v1/audio-features?ids={}".format(track_ids_urls)
    api_token = token #must get token from spotify to access data
    headers = {"Authorization" : "Bearer %s"%api_token, "Content-Type": "application/json"} 
    request = requests.get(track_audio_features_spotify_url, headers=headers)
    loaded_test_data = json.loads(request.text) #get raw data in json format
    for num, track_id in enumerate(track_ids):
        df.loc[df.track_id == track_id, 'tempo'] = loaded_test_data['audio_features'][num]['tempo']
        df.loc[df.track_id == track_id, 'energy'] = loaded_test_data['audio_features'][num]['energy']
        df.loc[df.track_id == track_id, 'acousticness'] = loaded_test_data['audio_features'][num]['acousticness']
        df.loc[df.track_id == track_id, 'danceability'] = loaded_test_data['audio_features'][num]['danceability']

In [38]:
def add_audio_features_to_track(df,outer_lower, outer_upper):
    """
    takes the get_tracks_audio_features function above and ensures that requests are properly created.
    Because only 50 albums can be passed in at once, the function breaks down a list of album_ids passed
    through into groups of 50 and runs them until the upper bound is reached.
    
    parameters
    ------
    df-dataframe to be iterated through, assumes dataframe has a "track_id" column with track id's
    outer_lower-lower bound of the dataframe index this function should iterate through is
    outer_upper-upper bound of the dataframe index this function should iterate through"""
    
    inner_counter = outer_upper# make counter length of id list
    inner_increment = 50 #increment number of requests by this
    inner_lower = outer_lower #set the lower bound to 0
    inner_upper = inner_increment
    while inner_counter >= outer_lower:
        current_tracks = [x for x in df["track_id"][inner_lower:inner_upper]]
        get_tracks_audio_features(current_tracks,df)
        inner_lower += inner_increment #add the increment to the lower bound
        inner_counter -=inner_increment # decrement the counter
        inner_upper = inner_lower + min(inner_increment, inner_counter)#set upper to either the increment or the counter value if it's less than the increment to prevent index out of range

In [39]:
def populate_track_table_audio_features(df):
    """
    takes a dataframe and applies the get_tracks_audio_features function above and properly 
    spaces out requests, making 500 requests and then resting 100 seconds. 
    
    parametrs
    ----------
    df-dataframe to be iterated through (assumes track_id is field)
    
    """
    outer_counter = len(df['track_id'])
    outer_increment = 500
    outer_lower = 0
    outer_upper = outer_increment
    while outer_counter >= 0:
        add_audio_features_to_track(outer_lower,outer_upper)
        outer_lower += outer_increment #add the increment to the lower bound
        outer_counter -= outer_increment # decrement the counter
        outer_upper = outer_lower + min(outer_increment, outer_counter)
        time.sleep(100)
    print("done")

In [291]:
populate_track_table_audio_features()#get audio features

In [ ]:
track_df.to_csv("track.csv", index=False)#export to csv

## Fix Bug
While running my SQL queries, I noticed there was a bug in my code. The first 50 songs of every 500 tracks weren't getting added. I believe it had to do with my counter being greater than 0 as opposed to greater than or equal to zero, but that could be wrong. However, I decided to go in and populate the table where that data was missing. The code is below.

In [3]:
mistake_df = pd.read_csv("data for analysis/track.csv")

In [47]:
mistake_df[mistake_df.popularity.isnull()].iloc[499:550]

,track_id,name,duration_ms,explicit,album_id,popularity,tempo,energy,acousticness,danceability
5049,2rLYkfJSgTPtOTLjYEdozL,I Almost Do - Commentary,52625,False,4jTYApZPMapg56gRycOn0D,NaN,NaN,NaN,NaN,NaN
5500,6pqpSaH7JggGPKPRhMiN1x,Homemade Dynamite - REMIX,214254,False,5oj6N6xLROv6pLctdOhENm,NaN,NaN,NaN,NaN,NaN
5501,0duOOCLT6zJ5utB1SloK41,"Homemade Dynamite (Feat. Khalid, Post Malone &...",214254,False,1h8c5s02EHw89eddxInlul,NaN,NaN,NaN,NaN,NaN
5502,2sbtixigDCbjXBTMRSEECS,Green Light - Chromeo Remix,247933,False,7IbLnQpLU1n85xtPPr9dbR,NaN,NaN,NaN,NaN,NaN
5503,0A8cJT245zXmWhcQWbtmw3,Flicker (Kanye West Rework),252773,False,112eEMM7VwHVEknE4hHjjY,NaN,NaN,NaN,NaN,NaN
5504,0Nf53RDPZEjFrQE4B5n6Vf,Yellow Flicker Beat,232506,False,7sg5iqMiDrM2aJqLAmv83V,NaN,NaN,NaN,NaN,NaN
5505,5flMobLspM4oVHpNmMkejM,Royals,190185,False,2eDQDP6uhkBOtQKctBWXhN,NaN,NaN,NaN,NaN,NaN
5506,3LlESXmjxOrMmAbkSws3AT,400 Lux,234286,False,2eDQDP6uhkBOtQKctBWXhN,NaN,NaN,NaN,NaN,NaN
5507,3paU6Do80sHrJdJhk6kYNg,Team - Live At The 2013 ARIA Awards,232096,False,6Ukmi7AfxNAUrwmVWBwJ1a,NaN,NaN,NaN,NaN,NaN
5508,6Pxy5nH3meSvv3tnDsHfwd,Royals,190185,False,2Pf42OiIQLrA9swcdJGFqv,NaN,NaN,NaN,NaN,NaN
5509,3qVvNO1MksU6qnvJgco3uq,Tennis Court,198907,True,2Pf42OiIQLrA9swcdJGFqv,NaN,NaN,NaN,NaN,NaN
5510,3yYlHul3JdlGHLRrG6BsXw,Tennis Court,198907,True,7EUGqK1EQw2k02BFR1hu47,NaN,NaN,NaN,NaN,NaN
5511,3YYwrOdeMEvmHBWHJ0TmB6,Swingin Party,222362,False,7EUGqK1EQw2k02BFR1hu47,NaN,NaN,NaN,NaN,NaN
5512,1kG1a1eoAgg2WS4gXeyFsl,Buzzcut Season - Live In Concert 2013,251609,False,0CvwwhkzMUiDm8cQqtN6Ys,NaN,NaN,NaN,NaN,NaN
5513,4tz7xNwEb1g34e2UnP46v3,Swingin Party - Live In Concert 2013,233984,False,0CvwwhkzMUiDm8cQqtN6Ys,NaN,NaN,NaN,NaN,NaN
5514,2nE6CuMPZ4I9kHM9PUnKaf,400 Lux - Live In Concert 2013,272859,False,0CvwwhkzMUiDm8cQqtN6Ys,NaN,NaN,NaN,NaN,NaN
5515,69lMFbj9GmdjY7cx5JxRlq,Royals - Live In Concert 2013,222974,False,0CvwwhkzMUiDm8cQqtN6Ys,NaN,NaN,NaN,NaN,NaN
5516,5gcH65ZS1XaJo4jFHSV3h1,Royals,190185,False,0u5tyaipbUJjHgkceoPtM7,NaN,NaN,NaN,NaN,NaN
5517,0qTaU3TBPc0YKNN87THfvN,Bravado,221408,False,2RHYxz7blfHR3iVxPtc25G,NaN,NaN,NaN,NaN,NaN
5518,0PfxFasOH971bzmGmA8vJn,Royals,190185,False,2RHYxz7blfHR3iVxPtc25G,NaN,NaN,NaN,NaN,NaN
5519,5Wgt1TBCwfIRRcVIjdNjI3,Million Dollar Bills,138210,False,2RHYxz7blfHR3iVxPtc25G,NaN,NaN,NaN,NaN,NaN
5520,6D5yF3qnvGqVrV5gJ0nfhT,The Love Club,201433,False,2RHYxz7blfHR3iVxPtc25G,NaN,NaN,NaN,NaN,NaN
5521,7i6cPofOjHfRrM22tLKgeN,Biting Down,213665,False,2RHYxz7blfHR3iVxPtc25G,NaN,NaN,NaN,NaN,NaN
5522,0htK81PAiVaSXbGPTcEzvr,Bravado - Fffrrannno Remix,221865,False,2RHYxz7blfHR3iVxPtc25G,NaN,NaN,NaN,NaN,NaN
5523,3I4QOvltiKcMu3xmnQjEct,Green Light,234652,False,4oCGmYsAQOWt2ACWTpNUU6,NaN,NaN,NaN,NaN,NaN
5524,0PXCdhnm9fRgrIgoMcteZa,Sober,197235,True,4oCGmYsAQOWt2ACWTpNUU6,NaN,NaN,NaN,NaN,NaN
5525,0zL76omZWytdTtyXKVfuDw,Homemade Dynamite,189796,True,4oCGmYsAQOWt2ACWTpNUU6,NaN,NaN,NaN,NaN,NaN
5526,4YBDSEzVNQbvCvVIWNtruF,The Louvre,271088,False,4oCGmYsAQOWt2ACWTpNUU6,NaN,NaN,NaN,NaN,NaN
5527,4iSN72L6xCM7vQZR2I9Suz,Liability,171727,False,4oCGmYsAQOWt2ACWTpNUU6,NaN,NaN,NaN,NaN,NaN
5528,3VDX4CCJWbRXBKuW5IY5R9,Hard Feelings/Loveless,367391,True,4oCGmYsAQOWt2ACWTpNUU6,NaN,NaN,NaN,NaN,NaN
5529,0dtMnnWhm2AXVxjJy5hUPe,Sober II (Melodrama),178639,True,4oCGmYsAQOWt2ACWTpNUU6,NaN,NaN,NaN,NaN,NaN
5530,5bMWY1u9ghi4X6fIAsQRaC,Writer In The Dark,216610,False,4oCGmYsAQOWt2ACWTpNUU6,NaN,NaN,NaN,NaN,NaN
5531,6IIcLzR05sN1gk4ngzz7Kk,Supercut,277506,False,4oCGmYsAQOWt2ACWTpNUU6,NaN,NaN,NaN,NaN,NaN
5532,7kEN6uPEaCTATwQKagVcVE,Liability (Reprise),136019,True,4oCGmYsAQOWt2ACWTpNUU6,NaN,NaN,NaN,NaN,NaN
5533,1qXjolYMICsnISl8xZAbA2,Perfect Places,221874,True,4oCGmYsAQOWt2ACWTpNUU6,NaN,NaN,NaN,NaN,NaN
5534,5u64RlrnvvbtNh6R0EMh6o,Homemade Dynamite - REMIX,214254,True,4oCGmYsAQOWt2ACWTpNUU6,NaN,NaN,NaN,NaN,NaN
5535,5a0OGWGpyPluxyHYdbz303,Green Light,234652,False,6tBpgZG9bV76nSuiz42RbA,NaN,NaN,NaN,NaN,NaN
5536,7FylTZ7KlODhW6VCKIwaBJ,Sober,197235,False,6tBpgZG9bV76nSuiz42RbA,NaN,NaN,NaN,NaN,NaN
5537,01FqUF3GUF5IR4ZRnClxdG,Homemade Dynamite,189796,False,6tBpgZG9bV76nSuiz42RbA,NaN,NaN,NaN,NaN,NaN
5538,1a4zjO7deeOWgIlA190mGU,The Louvre,271088,False,6tBpgZG9bV76nSuiz42RbA,NaN,NaN,NaN,NaN,NaN
5539,6pgZBGVEIqDZX8oIV1E66S,Liability,171727,False,6tBpgZG9bV76nSuiz42RbA,NaN,NaN,NaN,NaN,NaN
5540,3M1dYoJkBHjEFyPkASUvqN,Hard Feelings/Loveless,367391,False,6tBpgZG9bV76nSuiz42RbA,NaN,NaN,NaN,NaN,NaN
5541,30QxqmT6YAwGlJ3HiM1paE,Sober II (Melodrama),178639,False,6tBpgZG9bV76nSuiz42RbA,NaN,NaN,NaN,NaN,NaN
5542,0YDm7O5Cx3CbSalyexDaCt,Writer In The Dark,216610,False,6tBpgZG9bV76nSuiz42RbA,NaN,NaN,NaN,NaN,NaN
5543,0pkZBn6OmsTDsYsRJQCyL0,Supercut,277506,False,6tBpgZG9bV76nSuiz42RbA,NaN,NaN,NaN,NaN,NaN
5544,2ek4XPZRNFeasc7EZuC4b1,Liability (Reprise),136019,False,6tBpgZG9bV76nSuiz42RbA,NaN,NaN,NaN,NaN,NaN
5545,4H8DlsD6NSGlEwCr3x39Nl,Perfect Places,221874,False,6tBpgZG9bV76nSuiz42RbA,NaN,NaN,NaN,NaN,NaN
5546,7GRgbc1Dj2NBiZpCc33c7W,Homemade Dynamite - REMIX,214254,False,6tBpgZG9bV76nSuiz42RbA,NaN,NaN,NaN,NaN,NaN
5547,6ie2Bw3xLj2JcGowOlcMhb,Green Light,234652,False,2B87zXm9bOWvAJdkJBTpzF,NaN,NaN,NaN,NaN,NaN
5548,7eElVgPcxDqmgGrSwVFI74,Sober,197235,True,2B87zXm9bOWvAJdkJBTpzF,NaN,NaN,NaN,NaN,NaN
5549,02oAUzv4M0ItuTDy2RT3IT,Homemade Dynamite,189796,True,2B87zXm9bOWvAJdkJBTpzF,NaN,NaN,NaN,NaN,NaN

In [48]:
mistake_ids = [x for x in mistake_df[mistake_df.popularity.isnull()].track_id]

In [65]:
low = 100
high = 150
while high <= 550:
    get_tracks_audio_features(mistake_ids[low:high],mistake_df)
    get_tracks_popularity(mistake_ids[low:high],mistake_df)
    low+=50
    high+=50

## Upload to database

In [67]:
#enter credentials to upload to a mysql database 
engine = create_engine("mysql://admin:sql_2020@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project?charset=utf8"
                      )

In [68]:
mistake_df.to_sql('track', engine, if_exists = 'replace', index=False)

In [305]:
#add each df to a table in your datbase
track_df.to_sql('track', engine, if_exists = 'replace', index=False) 
album_df.to_sql('album', engine, if_exists = 'replace', index=False)
artist_df.to_sql('artist', engine, if_exists = 'replace', index=False)

## Other Notes

### Search Functions
Because more than one artist can appear when an artist is searched and
the search results aren't necessarily ranked, I have decided to find the search result with the
most amount of followers and return that artist as the "true artist" when determining ID's. This
assumes that the "true artist" will be the one with the most followers as it is the best metric
available. If this were a real music festival, we would have thse ID's on hand to be 100% sure
we are referencing the right artist. However, this lets me use spotify's search endpoint and save
some time in the process.

# Main Business Question SQL
The Lazy Lion Fest is having its first ever music festival. It wants to take an analytical approach to the event and wants to offer these services to their selected talent. The primary business question I am looking to address is "How can we use collected data to create an optimal experience for Lazy Lion Fest attendees?"

In [3]:
%load_ext sql

In [5]:
%sql mysql://USERNAME:PASSWORD@HOST/DATABASE

## Exploratory Questions

### 1. Is there any missing data?
I would like to see if any of the data is missing, so I will check for null values in all three of the tables.

#### Check Album Table

In [9]:
%%sql
SELECT *
FROM album
WHERE album_id IS NULL 
    OR name IS NULL
    OR total_tracks IS NULL
    OR album_type IS NULL
    OR artist_id IS NULL
    OR popularity IS NULL;

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

#### Check Artist Table

In [11]:
%%sql
SELECT *
FROM artist
WHERE artist_id IS NULL 
    OR name IS NULL
    OR popularity IS NULL
    OR followers IS NULL

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

#### Check track Table

In [17]:
%%sql
SELECT *
FROM track
WHERE track_id IS NULL 
    OR name IS NULL
    OR duration_ms IS NULL
    OR explicit IS NULL
    OR album_id IS NULL
    OR popularity IS NULL
    OR tempo IS NULL
    OR energy IS NULL
    OR acousticness IS NULL
    OR danceability IS NULL;

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

While I have updated the data since the first time I ran it, I initally discovered that my data collection didn't run properly so I was missing the popularity and audio features for 550 rows due to a bug in my track data collection functions.

### 2. What is the average popularity for each table
This data can be used to determine a good benchmark when checking how popular an item in each table is.

In [25]:
%%sql
SELECT AVG(album.popularity) AS average_album_popularity, AVG(artist.popularity) AS average_artist_popularity,
    AVG(track.popularity) AS average_track_popularity
FROM album
JOIN artist
    ON artist.artist_id = album.artist_id
JOIN track
    ON album.album_id = track.album_id

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
1 rows affected.

[(Decimal('48.1417'), Decimal('84.4040'), 37.28774329300368)]

We see here that the average popularity for each table has different scales. This will be good to know when asseesing popularity as a metric moving forward. However, it should be kept in mind that outliers in the data may cause this average to be skewed.

### 3. What is the average song duration for all artists and each artist?
This info will be good to know when creating set lists, so we can get an idea of the number of songs each artist will use for their set. Also, milliseconds can be confusing, so I have converted the miliseconds into a time datatype like "hh:mm:ss".

In [57]:
%%sql
SELECT artist.artist_id, artist.name,
    CONVERT(CONCAT((FLOOR(AVG(track.duration_ms)/ (1000 * 60*60)) % 60), 
                   ":", (FLOOR (AVG(track.duration_ms)/ (1000 * 60)) % 60), 
                   ":", FLOOR(AVG(track.duration_ms)/ (1000) % 60)), TIME) AS average_track_length, 
    CONVERT(CONCAT((FLOOR(( AVG(track.duration_ms) OVER())/ (1000 * 60*60)) % 60), 
                   ":", (FLOOR (( AVG(track.duration_ms) OVER())/ (1000 * 60)) % 60), 
                   ":", FLOOR(( AVG(track.duration_ms) OVER())/ (1000) % 60)), TIME) AS average_track_length_all_tracks
FROM track
JOIN album
    on album.album_id = track.album_id
JOIN artist
    on artist.artist_id = album.artist_id
GROUP BY artist_id

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
25 rows affected.

[('4O15NlyKLIASxsJ0PrXPfz', 'Lil uzi vert', datetime.timedelta(seconds=210), datetime.timedelta(seconds=193)),
 ('1anyVhU62p31KFi8MEzkbf', 'Chance the Rapper', datetime.timedelta(seconds=218), datetime.timedelta(seconds=193)),
 ('6eUKZXaKkcviH0Ku9w2n3V', 'Ed Sheeran', datetime.timedelta(seconds=242), datetime.timedelta(seconds=193)),
 ('6Xgp2XMz1fhVYe7i6yNAax', 'Trippie Redd', datetime.timedelta(seconds=176), datetime.timedelta(seconds=193)),
 ('0huGjMyP507tBCARyzSkrv', 'YBN Cordae', datetime.timedelta(seconds=177), datetime.timedelta(seconds=193)),
 ('5K4W6rqBFWDnAN6FQUkS6x', 'Kanye West', datetime.timedelta(seconds=232), datetime.timedelta(seconds=193)),
 ('3GBPw9NK25X1Wt2OUvOwY3', 'Jack Johnson', datetime.timedelta(seconds=200), datetime.timedelta(seconds=193)),
 ('0hEurMDQu99nJRq8pTxO14', 'John Mayer', datetime.timedelta(seconds=303), datetime.timedelta(seconds=193)),
 ('0n94vC3S9c3mb2HyNAOcjg', 'The Head and the Heart', datetime.timedelta(seconds=241), datetime.timedelta(seconds=193)),
 ('2mVVjNmdjXZZDvhgQWiakk', 'Khrubangbin', datetime.timedelta(seconds=245), datetime.timedelta(seconds=193)),
 ('7pbDxGE6nQSZVfiFdq9lOL', 'Rex Orange County', datetime.timedelta(seconds=199), datetime.timedelta(seconds=193)),
 ('1fA8WmzG2eU2q13kAAjoN8', 'Ricky Retro', datetime.timedelta(seconds=162), datetime.timedelta(seconds=193)),
 ('6nxWCVXbOlEVRexSbLsTer', 'Flume', datetime.timedelta(seconds=228), datetime.timedelta(seconds=193)),
 ('7wg1qvie3KqDNQbAkTdbX0', 'Louis the Child', datetime.timedelta(seconds=214), datetime.timedelta(seconds=193)),
 ('4dM6NDYSfLcspt8GLoT5aE', 'Hippie Sabatoge', datetime.timedelta(seconds=194), datetime.timedelta(seconds=193)),
 ('1VJ0briNOlXRtJUAzoUJdt', 'Fisher', datetime.timedelta(seconds=239), datetime.timedelta(seconds=193)),
 ('1n2pb9Tsfe4SwAjmUac6YT', 'Jake Owen', datetime.timedelta(seconds=206), datetime.timedelta(seconds=193)),
 ('3grHWM9bx2E9vwJCdlRv9O', 'Kenny Chesney', datetime.timedelta(seconds=238), datetime.timedelta(seconds=193)),
 ('6x2LnllRG5uGarZMsD4iO8', 'Thomas rhett', datetime.timedelta(seconds=186), datetime.timedelta(seconds=193)),
 ('0BvkDsjIUla7X0k6CSWh1I', 'Luke Bryan', datetime.timedelta(seconds=218), datetime.timedelta(seconds=193)),
 ('4MoAOfV4ROWofLG3a3hhBN', 'Jon Pardi', datetime.timedelta(seconds=214), datetime.timedelta(seconds=193)),
 ('1uNFoZAHBGtllmzznpCI3s', 'Justin Beiber', datetime.timedelta(seconds=222), datetime.timedelta(seconds=193)),
 ('06HL4z0CvFAxyc27GXpf02', 'Taylor Swift', datetime.timedelta(seconds=227), datetime.timedelta(seconds=193)),
 ('163tK9Wjr9P9DmM0AVK7lm', 'Lorde', datetime.timedelta(seconds=220), datetime.timedelta(seconds=193)),
 ('2h93pZq0e7k5yf4dywlkpM', 'Frank Ocean', datetime.timedelta(seconds=206), datetime.timedelta(seconds=193))]

We see here that the average track duration is 3:13 and most artists around that range, with the exception of John Mayer whose songs are longer than 5 minutes in length on average.

## Sub-Question 1:
Of the  25 artists selected, which artist is the best for their assigned stage?

### a.) Assign Artists to their stage
While we have all the artists and their data, we need to get them assigned to their stage so we can make stage specific decisions moving forward.

#### Make Column

In [61]:
%%sql
ALTER TABLE artist
ADD stage varchar(255);

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

#### Assign to Rage Stage

In [63]:
%%sql
UPDATE artist
SET stage = 'Rage'
WHERE name = 'Lil uzi vert'
    OR name = 'Chance the Rapper'
    OR name = 'Trippie Redd'
    OR name = 'YBN Cordae'
    OR name = 'Kanye West';

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[]

#### Assign to Unwind Stage

In [75]:
%%sql
UPDATE artist
SET stage = 'Unwind'
WHERE name = 'Jack Johnson'
    OR name = 'John Mayer'
    OR name = 'The Head and the Heart'
    OR name = 'Khrubangbin'
    OR name = 'Rex Orange County';

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[]

#### Assign to THE HAUS Stage

In [67]:
%%sql
UPDATE artist
SET stage = 'THE HAUS'
WHERE name = 'Ricky Retro'
    OR name = 'Flume'
    OR name = 'Louis the Child'
    OR name = 'Hippie Sabatoge'
    OR name = 'Fisher';

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[]

#### Assign to Hick Stage

In [71]:
%%sql
UPDATE artist
SET stage = 'Hick'
WHERE name = 'Jake Owen'
    OR name = 'Kenny Chesney'
    OR name = 'Thomas rhett'
    OR name = 'Luke Bryan'
    OR name = 'Jon Pardi';

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[]

#### Assign to Mane Stage

In [73]:
%%sql
UPDATE artist
SET stage = 'Mane'
WHERE name = 'Justin Beiber'
    OR name = 'Ed Sheeran'
    OR name = 'Taylor Swift'
    OR name = 'Lorde'
    OR name = 'Frank Ocean';

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[]

We know are able to see each stage an artist belongs to which will be neccessary for future decisions

### b.) Remove duplicate data
Some of the same tracks show up twice for a variety of reasons. Sometimes this is because they come in a clean and explicit version other times it is because they are released as a single then an album. We will take the most popular track of the duplicates and delete all others.

In [125]:
%%sql
WITH duplicate_track AS (
    SELECT 
        track.track_id,
        album.name AS album_name,
        track.name,
        track.explicit,
        track.popularity,
        ROW_NUMBER() OVER(PARTITION BY track.name ORDER BY track.popularity DESC) AS dup_count
    FROM track
    JOIN album
        on album.album_id = track.album_id
    ORDER BY track.name, dup_count
)
#use a join to delete from real table, not cte
DELETE FROM track USING track
JOIN duplicate_track
    ON track.track_id = duplicate_track.track_id
WHERE dup_count >1;

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
2693 rows affected.

[]

We have now cleaned up the dataset so duplicates are removed. This will give us a more thorough analysis moving forward.

### c.) Which artists are the most popular?
We will look at the popularity metric for each song, artist, and album. Additionally, we will check out the number of followers an artist has. For each stage, we will assign a score to each artist based off of these criteria. The best-performing of the 5 artists gets a 5 while the worst performing artist gets a 1. We then will add up the scores in all of these categories to calculate the best artist.

#### Create view for highest popularity for each stage

In [314]:
%%sql
CREATE VIEW artist_table_popularity AS
SELECT artist_id, name, popularity,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY artist.popularity) AS artist_popularity_score,
    followers,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY artist.followers) AS follower_score,
    stage
FROM artist

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

#### Create view with most popular albums
We are only selecting albums where release date is newer than 2017 beacuse the festival wants the latest and greatest music to be played and because this prevents older songs with lower popularity from weighing down an artist's average score. Also should note that it is possible for the data to be skewed if an artist produces lots of albums with so-so popularity, even if they have other albums with a very high popularity.

In [299]:
%%sql
CREATE VIEW album_table_popularity AS
SELECT artist.artist_id, artist.name,
    AVG(album.popularity) AS average_album_popularity,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY AVG(album.popularity)) AS album_popularity_score,
    stage
FROM album
JOIN artist
    ON artist.artist_id = album.artist_id
WHERE album.release_date > "2017"
GROUP BY (artist_id)

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

#### Create view with most popular tracks
Calculation identical to the one above, except we are looking at tracks instead of albums.

In [ ]:
%%sql 
CREATE VIEW track_table_popularity AS
SELECT artist.artist_id, artist.name,
    AVG(track.popularity) AS average_track_popularity,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY AVG(track.popularity)) AS track_popularity_score,
    stage
FROM track
JOIN album
    ON album.album_id = track.album_id
JOIN artist
    ON artist.artist_id = album.artist_id
WHERE album.release_date > "2017"
GROUP BY (artist_id)

#### Create view combining popularities
I was unable to join the artist_popularity, track_popularity, and album_popularity together all in one go so I created an artist_album view to combine the artist and album tables and then in the next query, I combined the track and artist table. I then will combine those two combined views to get our ultimate view which we will use to assess the popularity score for each artist.

In [317]:
%%sql
CREATE VIEW artist_album_joined AS
SELECT art_pop.name, art_pop.artist_popularity_score, art_pop.follower_score, 
    alb_pop.album_popularity_score, alb_pop.artist_id, art_pop.stage
FROM artist_table_popularity art_pop
JOIN album_table_popularity alb_pop 
    ON art_pop.artist_id = alb_pop.artist_id

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

In [319]:
%%sql
CREATE VIEW track_artist_combined AS
SELECT t_pop.track_popularity_score, art_pop.name
FROM track_table_popularity t_pop
JOIN artist_table_popularity art_pop 
    ON art_pop.artist_id = t_pop.artist_id

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

#### Combine two combined views to get ultimate score

In [322]:
%%sql
CREATE VIEW scored_artists AS
SELECT a.name, a.artist_popularity_score, a.follower_score, a.album_popularity_score, t.track_popularity_score,stage,
    (a.artist_popularity_score + a.follower_score + a.album_popularity_score +t.track_popularity_score) AS total_popularity_score
FROM artist_album_joined a
JOIN track_artist_combined t
    ON a.name = t.name
ORDER BY stage, total_popularity_score DESC

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

In [326]:
%%sql
SELECT * 
FROM scored_artists

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
25 rows affected.

[('Luke Bryan', 5, 5, 3, 3, 'Hick', 16),
 ('Thomas rhett', 4, 4, 5, 1, 'Hick', 14),
 ('Kenny Chesney', 3, 3, 4, 2, 'Hick', 12),
 ('Jon Pardi', 2, 1, 2, 4, 'Hick', 9),
 ('Jake Owen', 1, 2, 1, 5, 'Hick', 9),
 ('Justin Beiber', 5, 4, 5, 5, 'Mane', 19),
 ('Ed Sheeran', 4, 5, 2, 3, 'Mane', 14),
 ('Taylor Swift', 3, 3, 4, 1, 'Mane', 11),
 ('Frank Ocean', 2, 1, 3, 4, 'Mane', 10),
 ('Lorde', 1, 2, 1, 2, 'Mane', 6),
 ('Lil uzi vert', 5, 4, 5, 5, 'Rage', 19),
 ('Kanye West', 4, 5, 1, 4, 'Rage', 14),
 ('Trippie Redd', 3, 2, 2, 3, 'Rage', 10),
 ('Chance the Rapper', 2, 3, 3, 2, 'Rage', 10),
 ('YBN Cordae', 1, 1, 4, 1, 'Rage', 7),
 ('Flume', 5, 5, 4, 4, 'THE HAUS', 18),
 ('Fisher', 3, 3, 5, 5, 'THE HAUS', 16),
 ('Hippie Sabatoge', 4, 4, 2, 3, 'THE HAUS', 13),
 ('Louis the Child', 2, 2, 3, 1, 'THE HAUS', 8),
 ('Ricky Retro', 1, 1, 1, 2, 'THE HAUS', 5),
 ('John Mayer', 5, 5, 4, 4, 'Unwind', 18),
 ('Rex Orange County', 4, 3, 5, 5, 'Unwind', 17),
 ('Jack Johnson', 3, 4, 1, 3, 'Unwind', 11),
 ('The Head and the Heart', 1, 2, 3, 2, 'Unwind', 8),
 ('Khrubangbin', 2, 1, 2, 1, 'Unwind', 6)]

#### Show top artist 
Finally, show the top artist for each stage based off of their popularity

In [335]:
%%sql
SELECT name, total_popularity_score AS highest_popularity_score, stage
FROM scored_artists
WHERE (stage, total_popularity_score) IN (
    SELECT stage, MAX(total_popularity_score) AS total_popularity_score
    FROM scored_artists
    GROUP BY stage
        )

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[('Luke Bryan', 16, 'Hick'),
 ('Justin Beiber', 19, 'Mane'),
 ('Lil uzi vert', 19, 'Rage'),
 ('Flume', 18, 'THE HAUS'),
 ('John Mayer', 18, 'Unwind')]

Based off of these results, I would recommend Luke Bryan, Justin Beiber, and Lil Uzi Vert get selected for their assigned stages. However, for THE HAUS stage and the Unwind stage, I'd recommend further analysis as we have danceability, energy, and acousticness metrics that may prove to be valuable in determining which artist should play, especially because the top two artists in each of these categories is within 2 points of each other.

### d.) Which artists from the dance stage have music with the highest danceability and energy?
Because the Lazy Lion Fest wants to give its atendees the opportunity to really rage, popularity alone isn't enough to assess which artists should be selected for THE HAUS stage. Therefore, we will use an artist's average song danceability and energy to determine which artists are most deserving. However, because we think a popularity category is more valuable than danceability or energy, we have decided to make them each worth half as much as a popularity category would be. Additionally, house music needs to play the latest music, so we have selected music from 2018 or newer, as opposed to 2017.

In [365]:
%%sql
CREATE VIEW artist_danceability_energy AS
SELECT artist.artist_id, artist.name,
    AVG(track.danceability) AS average_track_danceability,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY AVG(track.danceability)) AS track_danceability_score,
    AVG(track.energy) AS average_track_energy,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY AVG(track.energy)) AS track_energy_score,
    stage
FROM track
JOIN album
    ON album.album_id = track.album_id
JOIN artist
    ON artist.artist_id = album.artist_id
WHERE album.release_date > "2018" AND stage = "THE HAUS"
GROUP BY (artist_id)

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

In [366]:
%%sql
SELECT s.name, s.total_popularity_score, d.track_danceability_score, d.track_energy_score,
    (s.total_popularity_score + ((d.track_danceability_score + d.track_energy_score) *.5)) AS total_score
FROM artist_danceability_energy d
JOIN scored_artists s
    ON s.name = d.name

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[('Louis the Child', 8, 3, 3, Decimal('11.0')),
 ('Ricky Retro', 5, 5, 4, Decimal('9.5')),
 ('Hippie Sabatoge', 13, 1, 1, Decimal('14.0')),
 ('Flume', 18, 2, 2, Decimal('20.0')),
 ('Fisher', 16, 4, 5, Decimal('20.5'))]

Based off of our analysis, I would recommend the festival choose Fisher to play at THE HAUS stage. While he wasn't as popular as Flume, his energy and danceability were much higher and offer music festival atendees the perfect opportunity to catch a vibe or an elbow in a moshpit...both are highly valued in the music festival industry.

### e.) Which artists from the unwind stage have music with the highest acousticness and lowest energy?
In addition to giving its atendees the chance to rage, they need to give their attendees the chance to take a deep breath. Therefore, it is imperative that the musician who plays at the unwind stage has the lowest average energy and highest acousticness. Additionally, like we did before, we want to make each cirteria worth half as much as a popularity criteria.

In [371]:
%%sql
CREATE VIEW artist_acousticness_energy AS
SELECT artist.artist_id, artist.name,
    AVG(track.acousticness) AS average_track_acousticness,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY AVG(track.acousticness)) AS track_acousticness_score,
    AVG(track.energy) AS average_track_energy,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY AVG(track.energy)DESC) AS track_energy_score,
    stage
FROM track
JOIN album
    ON album.album_id = track.album_id
JOIN artist
    ON artist.artist_id = album.artist_id
WHERE album.release_date > "2018" AND stage = "Unwind"
GROUP BY (artist_id)

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

In [384]:
%%sql
SELECT s.name, s.total_popularity_score, a.track_acousticness_score, a.track_energy_score,
    (s.total_popularity_score + ((a.track_acousticness_score + a.track_energy_score) *.5)) AS total_score
FROM artist_acousticness_energy a
JOIN scored_artists s
    ON s.name = a.name

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[('Khrubangbin', 6, 1, 4, Decimal('8.5')),
 ('The Head and the Heart', 8, 2, 2, Decimal('10.0')),
 ('Jack Johnson', 11, 4, 3, Decimal('14.5')),
 ('John Mayer', 18, 3, 1, Decimal('20.0')),
 ('Rex Orange County', 17, 5, 5, Decimal('22.0'))]

Based off of these results, I would recommend Rex Orange County as the artist for the Unwind stage. While his populraity was not as high as John Mayer's, the energy and acousticness scores he showed indicate that he is bound to create very chill vibes and put people in their feels.

### f.) Show all selected artists and assign Set times for each artist
This will allow for the music festival managers to see all of the artists that are performing in one centralized view. It also will allow them to know the time at which each artist is playing. The festival would like the artists to play at the following times:
- 7:00 PM - Luke Bryan
- 8:00 PM - Lil Uzi Vert
- 9:00 PM - Fisher
- 10:00 PM - Rex Orange County
- 11:00 PM - Justin Beiber

In [38]:
%%sql
CREATE TABLE selected_artists AS
SELECT artist_id, name,stage,
    CASE
        WHEN name = "Luke Bryan" THEN "07:00 PM"
        WHEN name = "Lil Uzi Vert" THEN "08:00 PM"
        WHEN name = "Fisher" THEN "09:00 PM"
        WHEN name = "Rex Orange County" THEN "10:00 PM"
        ELSE "11:00 PM"
    END AS set_time
FROM artist
WHERE name = "Luke Bryan" 
    OR name = "Lil Uzi Vert"
    OR name = "Fisher"
    OR name = "Rex Orange County"
    OR name = "Justin Bieber";

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[]

In [39]:
%%sql
SELECT *
FROM selected_artists

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[('4O15NlyKLIASxsJ0PrXPfz', 'Lil uzi vert', 'Rage', '08:00 PM'),
 ('7pbDxGE6nQSZVfiFdq9lOL', 'Rex Orange County', 'Unwind', '10:00 PM'),
 ('1VJ0briNOlXRtJUAzoUJdt', 'Fisher', 'THE HAUS', '09:00 PM'),
 ('0BvkDsjIUla7X0k6CSWh1I', 'Luke Bryan', 'Hick', '07:00 PM'),
 ('1uNFoZAHBGtllmzznpCI3s', 'Justin Bieber', 'Mane', '11:00 PM')]

Now, we can see all of the performers selected and their corresponding set times.

## Sub-Question 2 
Of the 5 artists who will be performing, what songs should they play?

### a.) What is each artist's most popular song?
It is common for an artist to play their most popular song last, therefore, we will show the artist their most popular song.

In [6]:
%%sql
WITH ranked_tracks AS (
SELECT artist.name AS artist_name, album.name AS album_name, track.name AS track_name,artist.stage, track.duration_ms,
    MAX(track.popularity) OVER( PARTITION BY artist.name ORDER BY track.popularity DESC) AS highest_rating,
    ROW_NUMBER() OVER(PARTITION BY artist.name ORDER BY track.popularity DESC) AS track_popularity_ranking
FROM artist
JOIN album
    ON album.artist_id = artist.artist_id
JOIN track
    ON track.album_id = album.album_id
)
SELECT artist_name, album_name, track_name, highest_rating, stage, duration_ms
FROM ranked_tracks
WHERE (artist_name = "Justin Bieber"
    OR artist_name = "Luke Bryan"
    OR artist_name = "Lil Uzi Vert"
    OR artist_name = "Fisher"
    OR artist_name = "Rex Orange County"
    )
    AND track_popularity_ranking = 1

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[('Fisher', 'Losing It', 'Losing It', 79.0, 'THE HAUS', 248035),
 ('Justin Bieber', 'Intentions', 'Intentions', 93.0, 'Mane', 212868),
 ('Lil uzi vert', 'Eternal Atake', 'P2', 88.0, 'Rage', 234626),
 ('Luke Bryan', 'Crash My Party', 'Play It Again', 76.0, 'Hick', 226866),
 ('Rex Orange County', 'Best Friend', 'Best Friend', 81.0, 'Unwind', 262231)]

I would recommend each artist play these songs last as they are the most popular and will not only leave atendees with their favorite song, but incentivize them to stay for the whole concert.

### b.) Find tracks with highest energy for THE HAUS and Rage Stage 
These two stages want to get their audience pumped before their concert starts so they must open with the songs that offer the highest enrgy. Also, to make sure that we are only playing recent music, we have set the date to be newer than 2017.

In [24]:
%%sql
WITH high_energy_tracks AS (
SELECT artist.name AS artist_name, album.name AS album_name, track.name AS track_name,artist.stage,energy,duration_ms,
    MAX(track.energy) OVER( PARTITION BY artist.name ORDER BY track.energy DESC) AS highest_energy,
    ROW_NUMBER() OVER(PARTITION BY artist.name ORDER BY track.energy DESC) AS track_energy_ranking
FROM artist
JOIN album
    ON album.artist_id = artist.artist_id
JOIN track
    ON track.album_id = album.album_id
WHERE release_date > "2017"
)
SELECT artist_name, album_name, track_name, stage, highest_energy, duration_ms
FROM high_energy_tracks
WHERE (artist_name = "Lil Uzi Vert"
    OR artist_name = "Fisher"
    )
    AND track_energy_Ranking = 1

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
2 rows affected.

[('Fisher', 'Ya Kidding', 'Ya Kidding', 'THE HAUS', 0.983, 238080),
 ('Lil uzi vert', 'New Patek', 'New Patek', 'Rage', 0.785, 343099)]

I would recommend Fisher and Lil Uzi vert open with the songs above as they have the highest energy score amongst all of their songs made after 2017.

### C.) Can I get a throwback?
While Justin Bieber has continued to create chart-topping music, the target market of the Lazy Lion Fest grew up with baby Bieber and will likely want to hear a throw back. Therefore, we want to take Justin's most popular song created before 2014.

In [23]:
%%sql
WITH justins_throwback AS (
SELECT artist.name AS artist_name, album.name AS album_name, track.name AS track_name,artist.stage,track.popularity,
    duration_ms,
    MAX(track.popularity) OVER( PARTITION BY artist.name ORDER BY track.popularity DESC) AS highest_throwback_popularity,
    ROW_NUMBER() OVER(PARTITION BY artist.name ORDER BY track.popularity DESC) AS throwback_popularity_ranking
FROM artist
JOIN album
    ON album.artist_id = artist.artist_id
JOIN track
    ON track.album_id = album.album_id
WHERE release_date <"2014"
)
SELECT artist_name, album_name, track_name, stage, highest_throwback_popularity,duration_ms
FROM justins_throwback
WHERE artist_name = "Justin Bieber"
AND throwback_popularity_ranking = 1;

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
1 rows affected.

[('Justin Bieber', 'My World 2.0', 'Baby', 'Mane', 76.0, 214240)]

Based off of this query, I would recommend Justin play this classic at some point in his performance.

In [6]:
!jupyter nbconvert presentation.ipynb --to slides --post serve

[NbConvertApp] Converting notebook presentation.ipynb to slides
[NbConvertApp] Writing 445902 bytes to presentation.slides.html
[NbConvertApp] Redirecting reveal.js requests to https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0
Serving your slides at http://127.0.0.1:8000/presentation.slides.html
Use Control-C to stop this server
WARNING:tornado.access:404 GET /custom.css (127.0.0.1) 2.70ms
WARNING:tornado.access:404 GET /custom.css (127.0.0.1) 0.70ms
^C

Interrupted