In [2]:
%load_ext sql

In [57]:
%sql mysql://USERNAME:PASSWORD@HOST/DATABASE

# Main Business Question
The Lazy Lion Fest is having its first ever music festival. It wants to take an analytical approach to the event and wants to offer these services to their selected talent. The primary business question I am looking to address is "How can we use collected data to create an optimal experience for Lazy Lion Fest attendees?"

## Exploratory Questions

### 1. Is there any missing data?
I would like to see if any of the data is missing, so I will check for null values in all three of the tables.

#### Check Album Table

In [9]:
%%sql
SELECT *
FROM album
WHERE album_id IS NULL 
    OR name IS NULL
    OR total_tracks IS NULL
    OR album_type IS NULL
    OR artist_id IS NULL
    OR popularity IS NULL;

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

#### Check Artist Table

In [11]:
%%sql
SELECT *
FROM artist
WHERE artist_id IS NULL 
    OR name IS NULL
    OR popularity IS NULL
    OR followers IS NULL

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

#### Check track Table

In [17]:
%%sql
SELECT *
FROM track
WHERE track_id IS NULL 
    OR name IS NULL
    OR duration_ms IS NULL
    OR explicit IS NULL
    OR album_id IS NULL
    OR popularity IS NULL
    OR tempo IS NULL
    OR energy IS NULL
    OR acousticness IS NULL
    OR danceability IS NULL;

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

While I have updated the data since the first time I ran it, I initally discovered that my data collection didn't run properly so I was missing the popularity and audio features for 550 rows due to a bug in my track data collection functions.

### 2. What is the average popularity for each table
This data can be used to determine a good benchmark when checking how popular an item in each table is.

In [25]:
%%sql
SELECT AVG(album.popularity) AS average_album_popularity, AVG(artist.popularity) AS average_artist_popularity,
    AVG(track.popularity) AS average_track_popularity
FROM album
JOIN artist
    ON artist.artist_id = album.artist_id
JOIN track
    ON album.album_id = track.album_id

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
1 rows affected.

[(Decimal('48.1417'), Decimal('84.4040'), 37.28774329300368)]

We see here that the average popularity for each table has different scales. This will be good to know when asseesing popularity as a metric moving forward. However, it should be kept in mind that outliers in the data may cause this average to be skewed.

### 3. What is the average song duration for all artists and each artist?
This info will be good to know when creating set lists, so we can get an idea of the number of songs each artist will use for their set. Also, milliseconds can be confusing, so I have converted the miliseconds into a time datatype like "hh:mm:ss".

In [57]:
%%sql
SELECT artist.artist_id, artist.name,
    CONVERT(CONCAT((FLOOR(AVG(track.duration_ms)/ (1000 * 60*60)) % 60), 
                   ":", (FLOOR (AVG(track.duration_ms)/ (1000 * 60)) % 60), 
                   ":", FLOOR(AVG(track.duration_ms)/ (1000) % 60)), TIME) AS average_track_length, 
    CONVERT(CONCAT((FLOOR(( AVG(track.duration_ms) OVER())/ (1000 * 60*60)) % 60), 
                   ":", (FLOOR (( AVG(track.duration_ms) OVER())/ (1000 * 60)) % 60), 
                   ":", FLOOR(( AVG(track.duration_ms) OVER())/ (1000) % 60)), TIME) AS average_track_length_all_tracks
FROM track
JOIN album
    on album.album_id = track.album_id
JOIN artist
    on artist.artist_id = album.artist_id
GROUP BY artist_id

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
25 rows affected.

[('4O15NlyKLIASxsJ0PrXPfz', 'Lil uzi vert', datetime.timedelta(seconds=210), datetime.timedelta(seconds=193)),
 ('1anyVhU62p31KFi8MEzkbf', 'Chance the Rapper', datetime.timedelta(seconds=218), datetime.timedelta(seconds=193)),
 ('6eUKZXaKkcviH0Ku9w2n3V', 'Ed Sheeran', datetime.timedelta(seconds=242), datetime.timedelta(seconds=193)),
 ('6Xgp2XMz1fhVYe7i6yNAax', 'Trippie Redd', datetime.timedelta(seconds=176), datetime.timedelta(seconds=193)),
 ('0huGjMyP507tBCARyzSkrv', 'YBN Cordae', datetime.timedelta(seconds=177), datetime.timedelta(seconds=193)),
 ('5K4W6rqBFWDnAN6FQUkS6x', 'Kanye West', datetime.timedelta(seconds=232), datetime.timedelta(seconds=193)),
 ('3GBPw9NK25X1Wt2OUvOwY3', 'Jack Johnson', datetime.timedelta(seconds=200), datetime.timedelta(seconds=193)),
 ('0hEurMDQu99nJRq8pTxO14', 'John Mayer', datetime.timedelta(seconds=303), datetime.timedelta(seconds=193)),
 ('0n94vC3S9c3mb2HyNAOcjg', 'The Head and the Heart', datetime.timedelta(seconds=241), datetime.timedelta(seconds=193)),
 ('2mVVjNmdjXZZDvhgQWiakk', 'Khrubangbin', datetime.timedelta(seconds=245), datetime.timedelta(seconds=193)),
 ('7pbDxGE6nQSZVfiFdq9lOL', 'Rex Orange County', datetime.timedelta(seconds=199), datetime.timedelta(seconds=193)),
 ('1fA8WmzG2eU2q13kAAjoN8', 'Ricky Retro', datetime.timedelta(seconds=162), datetime.timedelta(seconds=193)),
 ('6nxWCVXbOlEVRexSbLsTer', 'Flume', datetime.timedelta(seconds=228), datetime.timedelta(seconds=193)),
 ('7wg1qvie3KqDNQbAkTdbX0', 'Louis the Child', datetime.timedelta(seconds=214), datetime.timedelta(seconds=193)),
 ('4dM6NDYSfLcspt8GLoT5aE', 'Hippie Sabatoge', datetime.timedelta(seconds=194), datetime.timedelta(seconds=193)),
 ('1VJ0briNOlXRtJUAzoUJdt', 'Fisher', datetime.timedelta(seconds=239), datetime.timedelta(seconds=193)),
 ('1n2pb9Tsfe4SwAjmUac6YT', 'Jake Owen', datetime.timedelta(seconds=206), datetime.timedelta(seconds=193)),
 ('3grHWM9bx2E9vwJCdlRv9O', 'Kenny Chesney', datetime.timedelta(seconds=238), datetime.timedelta(seconds=193)),
 ('6x2LnllRG5uGarZMsD4iO8', 'Thomas rhett', datetime.timedelta(seconds=186), datetime.timedelta(seconds=193)),
 ('0BvkDsjIUla7X0k6CSWh1I', 'Luke Bryan', datetime.timedelta(seconds=218), datetime.timedelta(seconds=193)),
 ('4MoAOfV4ROWofLG3a3hhBN', 'Jon Pardi', datetime.timedelta(seconds=214), datetime.timedelta(seconds=193)),
 ('1uNFoZAHBGtllmzznpCI3s', 'Justin Beiber', datetime.timedelta(seconds=222), datetime.timedelta(seconds=193)),
 ('06HL4z0CvFAxyc27GXpf02', 'Taylor Swift', datetime.timedelta(seconds=227), datetime.timedelta(seconds=193)),
 ('163tK9Wjr9P9DmM0AVK7lm', 'Lorde', datetime.timedelta(seconds=220), datetime.timedelta(seconds=193)),
 ('2h93pZq0e7k5yf4dywlkpM', 'Frank Ocean', datetime.timedelta(seconds=206), datetime.timedelta(seconds=193))]

We see here that the average track duration is 3:13 and most artists around that range, with the exception of John Mayer whose songs are longer than 5 minutes in length on average.

## Sub-Question 1:
Of the  25 artists selected, which artist is the best for their assigned stage?

### a.) Assign Artists to their stage
While we have all the artists and their data, we need to get them assigned to their stage so we can make stage specific decisions moving forward.

#### Make Column

In [61]:
%%sql
ALTER TABLE artist
ADD stage varchar(255);

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

#### Assign to Rage Stage

In [63]:
%%sql
UPDATE artist
SET stage = 'Rage'
WHERE name = 'Lil uzi vert'
    OR name = 'Chance the Rapper'
    OR name = 'Trippie Redd'
    OR name = 'YBN Cordae'
    OR name = 'Kanye West';

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[]

#### Assign to Unwind Stage

In [75]:
%%sql
UPDATE artist
SET stage = 'Unwind'
WHERE name = 'Jack Johnson'
    OR name = 'John Mayer'
    OR name = 'The Head and the Heart'
    OR name = 'Khrubangbin'
    OR name = 'Rex Orange County';

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[]

#### Assign to THE HAUS Stage

In [67]:
%%sql
UPDATE artist
SET stage = 'THE HAUS'
WHERE name = 'Ricky Retro'
    OR name = 'Flume'
    OR name = 'Louis the Child'
    OR name = 'Hippie Sabatoge'
    OR name = 'Fisher';

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[]

#### Assign to Mud Stage

In [71]:
%%sql
UPDATE artist
SET stage = 'Mud'
WHERE name = 'Jake Owen'
    OR name = 'Kenny Chesney'
    OR name = 'Thomas rhett'
    OR name = 'Luke Bryan'
    OR name = 'Jon Pardi';

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[]

#### Assign to Mane Stage

In [73]:
%%sql
UPDATE artist
SET stage = 'Mane'
WHERE name = 'Justin Beiber'
    OR name = 'Ed Sheeran'
    OR name = 'Taylor Swift'
    OR name = 'Lorde'
    OR name = 'Frank Ocean';

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[]

We know are able to see each stage an artist belongs to which will be neccessary for future decisions

### b.) Remove duplicate data
Some of the same tracks show up twice for a variety of reasons. Sometimes this is because they come in a clean and explicit version other times it is because they are released as a single then an album. We will take the most popular track of the duplicates and delete all others.

In [125]:
%%sql
WITH duplicate_track AS (
    SELECT 
        track.track_id,
        album.name AS album_name,
        track.name,
        track.explicit,
        track.popularity,
        ROW_NUMBER() OVER(PARTITION BY track.name ORDER BY track.popularity DESC) AS dup_count
    FROM track
    JOIN album
        on album.album_id = track.album_id
    ORDER BY track.name, dup_count
)
#use a join to delete from real table, not cte
DELETE FROM track USING track
JOIN duplicate_track
    ON track.track_id = duplicate_track.track_id
WHERE dup_count >1;

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
2693 rows affected.

[]

We have now cleaned up the dataset so duplicates are removed. This will give us a more thorough analysis moving forward.

### c.) Which artists are the most popular?
We will look at the popularity metric for each song, artist, and album. Additionally, we will check out the number of followers an artist has. For each stage, we will assign a score to each artist based off of these criteria. The best-performing of the 5 artists gets a 5 while the worst performing artist gets a 1. We then will add up the scores in all of these categories to calculate the best artist.

#### Create view for highest popularity for each stage

In [314]:
%%sql
CREATE VIEW artist_table_popularity AS
SELECT artist_id, name, popularity,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY artist.popularity) AS artist_popularity_score,
    followers,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY artist.followers) AS follower_score,
    stage
FROM artist

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

#### Create view with most popular albums
We are only selecting albums where release date is newer than 2017 beacuse the festival wants the latest and greatest music to be played and because this prevents older songs with lower popularity from weighing down an artist's average score. Also should note that it is possible for the data to be skewed if an artist produces lots of albums with so-so popularity, even if they have other albums with a very high popularity.

In [299]:
%%sql
CREATE VIEW album_table_popularity AS
SELECT artist.artist_id, artist.name,
    AVG(album.popularity) AS average_album_popularity,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY AVG(album.popularity)) AS album_popularity_score,
    stage
FROM album
JOIN artist
    ON artist.artist_id = album.artist_id
WHERE album.release_date > "2017"
GROUP BY (artist_id)

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

#### Create view with most popular tracks
Calculation identical to the one above, except we are looking at tracks instead of albums.

In [ ]:
%%sql 
CREATE VIEW track_table_popularity AS
SELECT artist.artist_id, artist.name,
    AVG(track.popularity) AS average_track_popularity,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY AVG(track.popularity)) AS track_popularity_score,
    stage
FROM track
JOIN album
    ON album.album_id = track.album_id
JOIN artist
    ON artist.artist_id = album.artist_id
WHERE album.release_date > "2017"
GROUP BY (artist_id)

#### Create view combining popularities
I was unable to join the artist_popularity, track_popularity, and album_popularity together all in one go so I created an artist_album view to combine the artist and album tables and then in the next query, I combined the track and artist table. I then will combine those two combined views to get our ultimate view which we will use to assess the popularity score for each artist.

In [317]:
%%sql
CREATE VIEW artist_album_joined AS
SELECT art_pop.name, art_pop.artist_popularity_score, art_pop.follower_score, 
    alb_pop.album_popularity_score, alb_pop.artist_id, art_pop.stage
FROM artist_table_popularity art_pop
JOIN album_table_popularity alb_pop 
    ON art_pop.artist_id = alb_pop.artist_id

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

In [319]:
%%sql
CREATE VIEW track_artist_combined AS
SELECT t_pop.track_popularity_score, art_pop.name
FROM track_table_popularity t_pop
JOIN artist_table_popularity art_pop 
    ON art_pop.artist_id = t_pop.artist_id

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

#### Combine two combined views to get ultimate score

In [322]:
%%sql
CREATE VIEW scored_artists AS
SELECT a.name, a.artist_popularity_score, a.follower_score, a.album_popularity_score, t.track_popularity_score,stage,
    (a.artist_popularity_score + a.follower_score + a.album_popularity_score +t.track_popularity_score) AS total_popularity_score
FROM artist_album_joined a
JOIN track_artist_combined t
    ON a.name = t.name
ORDER BY stage, total_popularity_score DESC

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

In [326]:
%%sql
SELECT * 
FROM scored_artists

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
25 rows affected.

[('Luke Bryan', 5, 5, 3, 3, 'Mud', 16),
 ('Thomas rhett', 4, 4, 5, 1, 'Mud', 14),
 ('Kenny Chesney', 3, 3, 4, 2, 'Mud', 12),
 ('Jon Pardi', 2, 1, 2, 4, 'Mud', 9),
 ('Jake Owen', 1, 2, 1, 5, 'Mud', 9),
 ('Justin Beiber', 5, 4, 5, 5, 'Mane', 19),
 ('Ed Sheeran', 4, 5, 2, 3, 'Mane', 14),
 ('Taylor Swift', 3, 3, 4, 1, 'Mane', 11),
 ('Frank Ocean', 2, 1, 3, 4, 'Mane', 10),
 ('Lorde', 1, 2, 1, 2, 'Mane', 6),
 ('Lil uzi vert', 5, 4, 5, 5, 'Rage', 19),
 ('Kanye West', 4, 5, 1, 4, 'Rage', 14),
 ('Trippie Redd', 3, 2, 2, 3, 'Rage', 10),
 ('Chance the Rapper', 2, 3, 3, 2, 'Rage', 10),
 ('YBN Cordae', 1, 1, 4, 1, 'Rage', 7),
 ('Flume', 5, 5, 4, 4, 'THE HAUS', 18),
 ('Fisher', 3, 3, 5, 5, 'THE HAUS', 16),
 ('Hippie Sabatoge', 4, 4, 2, 3, 'THE HAUS', 13),
 ('Louis the Child', 2, 2, 3, 1, 'THE HAUS', 8),
 ('Ricky Retro', 1, 1, 1, 2, 'THE HAUS', 5),
 ('John Mayer', 5, 5, 4, 4, 'Unwind', 18),
 ('Rex Orange County', 4, 3, 5, 5, 'Unwind', 17),
 ('Jack Johnson', 3, 4, 1, 3, 'Unwind', 11),
 ('The Head and the Heart', 1, 2, 3, 2, 'Unwind', 8),
 ('Khrubangbin', 2, 1, 2, 1, 'Unwind', 6)]

#### Show top artist 
Finally, show the top artist for each stage based off of their popularity

In [335]:
%%sql
SELECT name, total_popularity_score AS highest_popularity_score, stage
FROM scored_artists
WHERE (stage, total_popularity_score) IN (
    SELECT stage, MAX(total_popularity_score) AS total_popularity_score
    FROM scored_artists
    GROUP BY stage
        )

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[('Luke Bryan', 16, 'Mud'),
 ('Justin Beiber', 19, 'Mane'),
 ('Lil uzi vert', 19, 'Rage'),
 ('Flume', 18, 'THE HAUS'),
 ('John Mayer', 18, 'Unwind')]

Based off of these results, I would recommend Luke Bryan, Justin Beiber, and Lil Uzi Vert get selected for their assigned stages. However, for THE HAUS stage and the Unwind stage, I'd recommend further analysis as we have danceability, energy, and acousticness metrics that may prove to be valuable in determining which artist should play, especially because the top two artists in each of these categories is within 2 points of each other.

### d.) Which artists from the dance stage have music with the highest danceability and energy?
Because the Lazy Lion Fest wants to give its atendees the opportunity to really rage, popularity alone isn't enough to assess which artists should be selected for THE HAUS stage. Therefore, we will use an artist's average song danceability and energy to determine which artists are most deserving. However, because we think a popularity category is more valuable than danceability or energy, we have decided to make them each worth half as much as a popularity category would be. Additionally, house music needs to play the latest music, so we have selected music from 2018 or newer, as opposed to 2017.

In [365]:
%%sql
CREATE VIEW artist_danceability_energy AS
SELECT artist.artist_id, artist.name,
    AVG(track.danceability) AS average_track_danceability,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY AVG(track.danceability)) AS track_danceability_score,
    AVG(track.energy) AS average_track_energy,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY AVG(track.energy)) AS track_energy_score,
    stage
FROM track
JOIN album
    ON album.album_id = track.album_id
JOIN artist
    ON artist.artist_id = album.artist_id
WHERE album.release_date > "2018" AND stage = "THE HAUS"
GROUP BY (artist_id)

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

In [366]:
%%sql
SELECT s.name, s.total_popularity_score, d.track_danceability_score, d.track_energy_score,
    (s.total_popularity_score + ((d.track_danceability_score + d.track_energy_score) *.5)) AS total_score
FROM artist_danceability_energy d
JOIN scored_artists s
    ON s.name = d.name

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[('Louis the Child', 8, 3, 3, Decimal('11.0')),
 ('Ricky Retro', 5, 5, 4, Decimal('9.5')),
 ('Hippie Sabatoge', 13, 1, 1, Decimal('14.0')),
 ('Flume', 18, 2, 2, Decimal('20.0')),
 ('Fisher', 16, 4, 5, Decimal('20.5'))]

Based off of our analysis, I would recommend the festival choose Fisher to play at THE HAUS stage. While he wasn't as popular as Flume, his energy and danceability were much higher and offer music festival atendees the perfect opportunity to catch a vibe or an elbow in a moshpit...both are highly valued in the music festival industry.

### e.) Which artists from the unwind stage have music with the highest acousticnes and lowest energy?
In addition to giving its atendees the chance to rage, they need to give their attendees the chance to take a deep breath. Therefore, it is imperative that the musician who plays at the unwind stage has the lowest average energy and highest acousticness. Additionally, like we did before, we want to make each cirteria worth half as much as a popularity criteria.

In [371]:
%%sql
CREATE VIEW artist_acousticness_energy AS
SELECT artist.artist_id, artist.name,
    AVG(track.acousticness) AS average_track_acousticness,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY AVG(track.acousticness)) AS track_acousticness_score,
    AVG(track.energy) AS average_track_energy,
    ROW_NUMBER() OVER(PARTITION BY artist.stage ORDER BY AVG(track.energy)DESC) AS track_energy_score,
    stage
FROM track
JOIN album
    ON album.album_id = track.album_id
JOIN artist
    ON artist.artist_id = album.artist_id
WHERE album.release_date > "2018" AND stage = "Unwind"
GROUP BY (artist_id)

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

In [383]:
%%sql
DROP VIEW selected_artists

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
0 rows affected.

[]

In [384]:
%%sql
SELECT s.name, s.total_popularity_score, a.track_acousticness_score, a.track_energy_score,
    (s.total_popularity_score + ((a.track_acousticness_score + a.track_energy_score) *.5)) AS total_score
FROM artist_acousticness_energy a
JOIN scored_artists s
    ON s.name = a.name

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[('Khrubangbin', 6, 1, 4, Decimal('8.5')),
 ('The Head and the Heart', 8, 2, 2, Decimal('10.0')),
 ('Jack Johnson', 11, 4, 3, Decimal('14.5')),
 ('John Mayer', 18, 3, 1, Decimal('20.0')),
 ('Rex Orange County', 17, 5, 5, Decimal('22.0'))]

Based off of these results, I would recommend Rex Orange County as the artist for the Unwind stage. While his populraity was not as high as John Mayer's, the energy and acousticness scores he showed indicate that he is bound to create very chill vibes and put people in their feels.

### f.) Show all selected artists and assign Set times for each artist
This will allow for the music festival managers to see all of the artists that are performing in one centralized view. It also will allow them to know the time at which each artist is playing. The festival would like the artists to play at the following times:
- 7:00 PM - Luke Bryan
- 8:00 PM - Lil Uzi Vert
- 9:00 PM - Fisher
- 10:00 PM - Rex Orange County
- 11:00 PM - Justin Beiber

In [38]:
%%sql
CREATE TABLE selected_artists AS
SELECT artist_id, name,stage,
    CASE
        WHEN name = "Luke Bryan" THEN "07:00 PM"
        WHEN name = "Lil Uzi Vert" THEN "08:00 PM"
        WHEN name = "Fisher" THEN "09:00 PM"
        WHEN name = "Rex Orange County" THEN "10:00 PM"
        ELSE "11:00 PM"
    END AS set_time
FROM artist
WHERE name = "Luke Bryan" 
    OR name = "Lil Uzi Vert"
    OR name = "Fisher"
    OR name = "Rex Orange County"
    OR name = "Justin Bieber";

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[]

In [39]:
%%sql
SELECT *
FROM selected_artists

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[('4O15NlyKLIASxsJ0PrXPfz', 'Lil uzi vert', 'Rage', '08:00 PM'),
 ('7pbDxGE6nQSZVfiFdq9lOL', 'Rex Orange County', 'Unwind', '10:00 PM'),
 ('1VJ0briNOlXRtJUAzoUJdt', 'Fisher', 'THE HAUS', '09:00 PM'),
 ('0BvkDsjIUla7X0k6CSWh1I', 'Luke Bryan', 'Mud', '07:00 PM'),
 ('1uNFoZAHBGtllmzznpCI3s', 'Justin Bieber', 'Mane', '11:00 PM')]

Now, we can see all of the performers selected and their corresponding set times.

## Sub-Question 2 
Of the 5 artists who will be performing, what songs should they play?

### a.) What is each artist's most popular song?
It is common for an artist to play their most popular song last, therefore, we will show the artist their most popular song.

In [6]:
%%sql
WITH ranked_tracks AS (
SELECT artist.name AS artist_name, album.name AS album_name, track.name AS track_name,artist.stage, track.duration_ms,
    MAX(track.popularity) OVER( PARTITION BY artist.name ORDER BY track.popularity DESC) AS highest_rating,
    ROW_NUMBER() OVER(PARTITION BY artist.name ORDER BY track.popularity DESC) AS track_popularity_ranking
FROM artist
JOIN album
    ON album.artist_id = artist.artist_id
JOIN track
    ON track.album_id = album.album_id
)
SELECT artist_name, album_name, track_name, highest_rating, stage, duration_ms
FROM ranked_tracks
WHERE (artist_name = "Justin Bieber"
    OR artist_name = "Luke Bryan"
    OR artist_name = "Lil Uzi Vert"
    OR artist_name = "Fisher"
    OR artist_name = "Rex Orange County"
    )
    AND track_popularity_ranking = 1

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
5 rows affected.

[('Fisher', 'Losing It', 'Losing It', 79.0, 'THE HAUS', 248035),
 ('Justin Bieber', 'Intentions', 'Intentions', 93.0, 'Mane', 212868),
 ('Lil uzi vert', 'Eternal Atake', 'P2', 88.0, 'Rage', 234626),
 ('Luke Bryan', 'Crash My Party', 'Play It Again', 76.0, 'Mud', 226866),
 ('Rex Orange County', 'Best Friend', 'Best Friend', 81.0, 'Unwind', 262231)]

I would recommend each artist play these songs last as they are the most popular and will not only leave atendees with their favorite song, but incentivize them to stay for the whole concert.

### b.) Find tracks with highest energy for THE HAUS and Rage Stage 
These two stages want to get their audience pumped before their concert starts so they must open with the songs that offer the highest enrgy. Also, to make sure that we are only playing recent music, we have set the date to be newer than 2017.

In [24]:
%%sql
WITH high_energy_tracks AS (
SELECT artist.name AS artist_name, album.name AS album_name, track.name AS track_name,artist.stage,energy,duration_ms,
    MAX(track.energy) OVER( PARTITION BY artist.name ORDER BY track.energy DESC) AS highest_energy,
    ROW_NUMBER() OVER(PARTITION BY artist.name ORDER BY track.energy DESC) AS track_energy_ranking
FROM artist
JOIN album
    ON album.artist_id = artist.artist_id
JOIN track
    ON track.album_id = album.album_id
WHERE release_date > "2017"
)
SELECT artist_name, album_name, track_name, stage, highest_energy, duration_ms
FROM high_energy_tracks
WHERE (artist_name = "Lil Uzi Vert"
    OR artist_name = "Fisher"
    )
    AND track_energy_Ranking = 1

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
2 rows affected.

[('Fisher', 'Ya Kidding', 'Ya Kidding', 'THE HAUS', 0.983, 238080),
 ('Lil uzi vert', 'New Patek', 'New Patek', 'Rage', 0.785, 343099)]

I would recommend Fisher and Lil Uzi vert open with the songs above as they have the highest energy score amongst all of their songs made after 2017.

### C.) Can I get a throwback?
While Justin Bieber has continued to create chart-topping music, the target market of the Lazy Lion Fest grew up with baby Bieber and will likely want to hear a throw back. Therefore, we want to take Justin's most popular song created before 2014.

In [23]:
%%sql
WITH justins_throwback AS (
SELECT artist.name AS artist_name, album.name AS album_name, track.name AS track_name,artist.stage,track.popularity,
    duration_ms,
    MAX(track.popularity) OVER( PARTITION BY artist.name ORDER BY track.popularity DESC) AS highest_throwback_popularity,
    ROW_NUMBER() OVER(PARTITION BY artist.name ORDER BY track.popularity DESC) AS throwback_popularity_ranking
FROM artist
JOIN album
    ON album.artist_id = artist.artist_id
JOIN track
    ON track.album_id = album.album_id
WHERE release_date <"2014"
)
SELECT artist_name, album_name, track_name, stage, highest_throwback_popularity,duration_ms
FROM justins_throwback
WHERE artist_name = "Justin Bieber"
AND throwback_popularity_ranking = 1;

 * mysql://admin:***@lmu-sql1.crhm3n8rz1ea.us-east-2.rds.amazonaws.com/sql_project
1 rows affected.

[('Justin Bieber', 'My World 2.0', 'Baby', 'Mane', 76.0, 214240)]

Based off of this query, I would recommend Justin play this classic at some point in his performance.